<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="replace/header :: common-header" />

  <body>

    <div th:replace="replace/header :: navbar" />

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../img/anonymous.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>Dobro došao Darko</h1>
              <h2 class="subheading">Dodela user-a, menjanje uloga i ostalo...</h2>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
      	<a class="btn btn-primary" th:href="@{'/admin/mastermind/rolelist'}">Role lista</a>
      	<a class="btn btn-warning" th:href="@{'/admin/mastermind/newrole'}">Novi Role</a>
      	<a class="btn btn-outline-info" th:href="@{'/admin/mastermind/newuser'}">Novi User</a>
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.</p>

            <p>Placeholder text by
              <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
              <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
          </div>
        </div>
      </div>
    </article>

    <hr>

    <div th:replace="replace/header :: footer"/>

  </body>

</html>
