<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="replace/header :: common-header" />

  <body>
  
  

    <div th:replace="replace/header :: navbar" />

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../../img/anonymous.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Oprema</h1>
              <span class="subheading">Lista role za user-e.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="tabler">
      
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
        </div>
        
        <div class="table-responsive" style="padding:20px;">
        <table id="FlagsExport" class="table table-bordered table-hover table-striped"
        style="background: #d4edda;">
            <thead>
            <tr>
                <th>Id Role</th>
                <th>Role naziv</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="role: ${roles}">
                <td th:text="${role.roleId}">11</td>
                <td th:text="${role.name}">nešto</td>
				</td>
            </tr>
            </tbody>
        </table>
    </div>
      
    </div>

    <hr>

    <div th:replace="replace/header :: footer"/>

    <script type="text/javascript" th:src="@{/DataTables/datatables.min.js}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#FlagsExport').DataTable({
               "pageLength": 20,
                dom: 'Bfrtip',
                buttons: ['copy','csv','excel','pdf']
	            });
        });
    </script>

  </body>

</html>
