<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="replace/header :: common-header" />

<body>

<div th:replace="replace/header :: navbar" />

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/showantenna.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1 th:text="@{'Podaci o putu u '+ ${travels.Direction}}">Podaci o putu</h1>
          <h2 class="subheading">Informacije o putu.</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <a class="btn btn-primary" th:href="@{'/travelslist'}">Nazad</a>
    <hr/>
    <div class="row">
      <div class="col-lg-4 col-md-4 mx-auto">
        <p><strong>Vreme puta: </strong><span th:text="${travels.Period}"></span></p>
      </div>
      <div class="col-lg-4 col-md-4 mx-auto">
        <p><strong>Tip putovanja: </strong><span th:text="${travels.Passenger_type}"></span></p>
      </div>
      <div class="col-lg-4 col-md-4 mx-auto">
        <p><strong>Odlazak/Dolazak: </strong><span th:text="${travels.Direction}"></span></p>
      </div>
      <div class="col-lg-4 col-md-4 mx-auto">
        <p><strong>Destinacija: </strong><span th:text="${travels.Country}"></span></p>
      </div>
      <div class="col-lg-4 col-md-4 mx-auto">
        <p><strong>Broj putovanja: </strong><span th:text="${travels.Counter}"></span></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

      </div>
    </div>
  </div>
</article>

<hr>

<div th:replace="replace/header :: footer"/>

</body>

</html>
